<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/listado" routerLinkActive="active">
        <i class="menu-icon mdi mdi-printer"></i>
        <span class="menu-title">Listado JSON</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pagination" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-multiple"></i>
        <span class="menu-title">Listado API</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-switch"></i>
        <span class="menu-title">CRUD API LOCAL</span>
      </a>
    </li>
  </ul>
</nav>
