<mat-card class="card">
  
  <mat-card-header>
    <mat-card-title>Panel de Control</mat-card-title>
    <mat-card-subtitle>Aporta Estado General de la Organización</mat-card-subtitle>
  </mat-card-header>
  
<mat-card-content>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body border border-primary">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-cube text-danger icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Total Renovaviones</p>            
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">$65,650</h3>
              </div>
            </div>
          </div>
          <p class="float-left">
            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% crecimiento
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body border border-primary">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-receipt text-warning icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Ordenes</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">3455</h3>
              </div>
            </div>
          </div>
          <p class="float-left">
            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Venta de Productos
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body border border-primary">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-poll-box text-success icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="mb-0 text-right">Ventas Netas</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">5693</h3>
              </div>
            </div>
          </div>
          <p class="float-left">
            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Ventas Semanales
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body border border-primary">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-account-location text-info icon-lg"></i>
            </div>
            <div class="float-right ">
              <p class="mb-0 text-right">Empleados</p>
              <div class="fluid-container">
                <h3 class="font-weight-medium text-right mb-0">246</h3>
              </div>
            </div>
          </div>
          <p class="float-left">
            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Devoluciones de Productos
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
</mat-card>

<div class="row">
    <img src="./assets/images/cropped-Cokaizen.png" height="150" width="300">
</div>